<!doctype html>
<html lang="en">
  <head>
    <title>All Chants</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div><a href="/chant/add">Add new chant</a></div>
    <div><a href="/users/get_new_user" class="add-user">Add new user</a></div>

    {% for chant, user in chants %}
    <div>
      <p class="message">{{chant.message}}</p>
      <p class="date-created">{{chant.date_created}}</p>
      <p class="author-username">{{user.username}}</p>
      <br />
      <br />
    </div>
    {% endfor %}
  </body>
</html>
