<!doctype html>
<html lang="en">
  <head>
    <title>All Peeps</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div><a href="/peep/add">Add new peep</a></div>
    <div><a href="/users/get_new_user" class="add-user">Add new user</a></div>

    {% for peep, user in peeps %}
    <div>
      <p class="message">{{peep.message}}</p>
      <p class="date-created">{{peep.date_created}}</p>
      <p class="author-username">{{user.username}}</p>
      <br />
      <br />
    </div>
    {% endfor %}
  </body>
</html>
